.container {
  display: flex;
  gap: 4rem;
  margin: 2rem;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-style: solid;
  width: 6rem;
  height: 6rem;
}
